__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage
.venv/
venv/
.ipynb_checkpoints/
build/
dist/
*.log
.DS_Store
results/cylinder_cnn/cache/
lectures/source/*.aux
lectures/source/*.fdb_latexmk
lectures/source/*.fls
lectures/source/*.out
lectures/source/*.pdf
lectures/source/*.toc
lectures/*.aux
lectures/*.out
lectures/*.toc
tmp/
.external/
